node_modules/
dist/

types.generated.d.ts
.eslint-config-inspector

package-lock.json
**/*.bun

.idea/
.vscode/

# Logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Operating system files
.DS_Store

# Keys
.env
