name: Release NPM package

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: 1.3.4
          registry-url: https://registry.npmjs.org/

      - name: Setup node for npm OIDC
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.0.1
        with:
          node-version: '24.x'

      - name: bun install
        run: bun install --frozen-lockfile

      - name: bun build
        run: bun run build

      - name: bun test
        run: bun run --bun test

      - name: npm publish
        run: npm publish --access public --provenance --tag beta
