name: Release NPM package

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.02
        with:
          bun-version: 1.3.4
          registry-url: https://registry.npmjs.org/

      - name: bun install
        run: bun install --frozen-lockfile

      - name: bun build
        run: bun run build

      - name: bun test
        run: bun run --bun test

      - name: bun publish
        run: bun publish --access public --provenance --no-git-checks
